.header{width:100%;
        background-color:#152837;}
.left{width:150px;float:left;
        background-color:#152837;}
.right{;float:right;}
.bot{width:100%;}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #152837;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #2b506e;
}

.active {
    background-color: #2b506e;
}